.listen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem 1rem;

  .background {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .spotifyPlayer {
    position: relative;
    width: 100%;
    min-height: 600px;
  }

  .link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 100%;
    padding: 1rem;
    transform: translateX(-50%);
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 6px;

    &:hover {
      color: var(--accent);
    }

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }
}
