.footer {
  padding: 1rem;
  text-align: center;

  .link {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 6px;

    &:hover {
      color: var(--accent);
    }

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: var(--text-secondary);
  }
}
