.nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1000;

  @media screen and (min-width: 768px) {
    display: block;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2em;
    background: var(--nav);
    backdrop-filter: blur(6px);
    box-shadow: rgba(34, 42, 53, 0.06) 0px 0px 24px,
      rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px,
      rgba(34, 42, 53, 0.08) 0px 0px 4px, rgba(47, 48, 55, 0.05) 0px 15px 68px,
      rgba(255, 255, 255, 0.1) 0px 1px 0px inset;
    border-radius: 999px;

    @media screen and (min-width: 768px) {
      justify-content: space-between;
    }

    .logo {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    .links {
      position: relative;
      display: flex;
      gap: 1rem;

      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 62px;
        height: 40px;
        background-color: #36306214;
        border-radius: 999px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 450ms cubic-bezier(0.6, 0.6, 0, 1) 0s,
          width 200ms cubic-bezier(0.6, 0.6, 0, 1) 0s,
          transform 450ms cubic-bezier(0.6, 0.6, 0, 1) 0s;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(223, 223, 245, 0.12);
          border-radius: 999px;
          pointer-events: none;
        }
      }

      .button {
        padding: 0.5rem 1rem;
        color: white;
        font-size: 1rem;
        font-weight: 200;
        background-color: transparent;
        border: 1px solid rgba(223, 223, 245, 0.12);
        border-radius: 999px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }
  }
}
